################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Snake Multiplayer/v16/Server/sqlite3
